{% extends "base.html" %}


{% block body %}
<form class="login-form" action="/login" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="img-container">
        <img src="static/images/default.jpg" class="avatar">
    </div>

    <div class="container">
        <p>
            {{ form.username.label }}
            {{ form.username() }}
        </p>
        {{ form.password.label }}
        {{ form.password() }}


        {{ form.login_btn(class="btn", id="lg-btn") }}

        <p>
            {{ form.cancel_btn(class="btn", id="cancel-btn") }}
            <div>
                {{ form.remember_me }}
                {{ form.remember_me.label }}
            </div>
        </p>
    </div>
</form>


{% endblock %}